/* noto-sans-kr-regular - cyrillic_korean_latin_latin-ext_vietnamese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('https://eBible.org/fonts/noto_sans_kr-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('https://eBible.org/fonts/noto_sans_kr-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
div.notosanskr,body.notosanskr,.notosanskr	{font-family: 'notosanskr','sans-serif' !important;}
